body {background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(73, 73, 74));}

.h1 {text-align: center; color: #FF9800; font-size: 525%; font-weight: bold;}

h1 {text-align: center;color: white;}

.sidebar { height: auto;
  width: 9%; 
  position: fixed;
  z-index: 1; 
  top: 30; 
  left: 5;
  background-color: silver; 
  overflow-x: hidden; 
  padding-top: 0.5%;
}

.sidebar a {text-decoration: none; color: #FF9800; font-size: 170%; display: block; padding: 6px 8px 8px 16px;}

.sidebar a:hover {font-size: 190%;}